@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "vue-material-design-icons/styles.css";

@import "./components.pcss";
@import "./content.pcss";
@import "./docs.pcss";

@layer base {
  .material-design-icon > .material-design-icon__svg {
    position: static;
    bottom: 0;
  }

  body {
    overflow-y: scroll;
    @apply bg-gray-900 text-gray-300 text-base;
  }
}
